body {
	background-color: #000000;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

p {
	margin: 0; 
}

.container {
	background-color: #3182BD;
	max-width: 960px;
}

.btn-primary.custom-btn {
	background-color: #3182BD;
	border-color: #3182BD;
	position:relative;
	margin-top:1%;
}

#after_submit {
	visibility: hidden;
}